# Build outputs
build/
devel/
install/
log/
logs/

# Colcon / catkin / CMake
cmake-build-*/
*.o
*.so
*.a
*.pyc
__pycache__/


# Editors / OS
.DS_Store

# Local secrets
.env

# Python virtual environments
tools/.venv/
tools/__pycache__/
